<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品详情页</title>
    {include file='assets'}
</head>
<body>
{include file='header'}
<!--卖家信息-->
<div class="am-container">
    <div class="am-panel am-panel-default">
        <div class="am-panel-bd am-g">
            <div class="am-u-sm-2" style="border-right: 2px solid #3BB4F2">
                <img src="__ROOT__/static/demo/2.jpg" class="am-inline am-radius" width="120" alt="">
                <div class="am-fr am-text-sm am-text-center">
                    <p class="am-text-secondary">向阳而生</p>
                    <b class="am-text-success">女</b>
                </div>
            </div>

            <div class="am-u-sm-8 am-text-center">
                <div class="am-u-sm-4">
                    <p>宝贝浏览次数</p>
                    <p>999+</p>
                </div>
                <div class="am-u-sm-4">
                    <p>最近编辑</p>
                    <p>2018-01-01 12:12:12</p>
                </div>
                <div class="am-u-sm-4">
                    <p>所在地</p>
                    <p>北京市 北京市 大新区</p>
                </div>
            </div>

            <div class="am-u-sm-2 am-text-middle">
                <a href="#" class="am-fr">举报宝贝</a>
            </div>
        </div>
    </div>
</div>
<!--卖家信息  end-->

<!--商品信息-->


<!--商品信息  end-->
{include file='footer'}
</body>
</html>