<!doctype html>
<html>

<head>
    <title>用户列表</title>
    {include file="head"}
</head>

<body data-type="generalComponents">
{include file="header"}
    <div class="tpl-page-container tpl-page-header-fixed">


        <div class="tpl-left-nav tpl-left-nav-hover">
            <div class="tpl-left-nav-title">
                Amaze UI 列表
            </div>
            <div class="tpl-left-nav-list">
                {include file="menu"}
            </div>
        </div>
        <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                Amaze UI 文字列表
            </div>
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="#">Amaze UI CSS</a></li>
                <li class="am-active">文字列表</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 用户列表
                    </div>
                    <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="portlet-input input-small input-inline">
                            <div class="input-icon right">
                                <i class="am-icon-search"></i>
                                <input type="text" class="form-control form-control-solid" placeholder="搜索..."> </div>
                        </div>
                    </div>

                </div>
                <div class="tpl-block">
                    <div class="am-g">
                        <div class="am-u-sm-12 am-u-md-3">
                            <div class="am-form-group">
                                <select data-am-selected="{btnSize: 'sm'}">
              <option value="option1">所有</option>
            </select>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-3">
                            <div class="am-input-group am-input-group-sm">
                                <input type="text" class="am-form-field">
                                <span class="am-input-group-btn">
            <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search" type="button"></button>
          </span>
                            </div>
                        </div>
                    </div>
                    <div class="am-g">
                        <div class="am-u-sm-12">
                            <form class="am-form">
                                <table class="am-table am-table-striped am-table-hover table-main">
                                    <thead>
                                        <tr>
                                            <th class="table-check"><input type="checkbox" class="tpl-table-fz-check"></th>
                                            <th class="table-id">ID</th>
                                            <th class="table-title">用户名</th>
                                            <th class="table-type">邮箱</th>
                                            <th class="table-author am-hide-sm-only">真实姓名</th>
                                            <th class="table-date am-hide-sm-only">注册日期</th>
                                            <th class="table-set">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {volist name='userlist' id='vol' empty='暂无数据'}
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>{$i}</td>
                                            <td><a href="#">{$vol.loginname}</a></td>
                                            <td>{$vol.loginemail}</td>
                                            <td class="am-hide-sm-only">{$vol.realname}</td>
                                            <td class="am-hide-sm-only">{$vol.create_time|date='Y-m-d H:i:s', ###}</td>
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
                                                        <button data-uid="{$vol.id}" class=" del-btn am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {/volist}
                                    <tr>
                                        <td colspan="6">
                                            <input class="tpl-table-fz-check" type="checkbox" id="select-all">&nbsp;&nbsp;<label for="select-all">全选</label>
                                            &nbsp;&nbsp;&nbsp;
                                            <input class="tpl-table-ufz-check" type="checkbox" id="non-select-all">&nbsp;&nbsp;<label for="non-select-all">全不选</label>
                                        </td>
                                        <td>
                                            <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="am-cf">
                                    <div class="am-fr">
                                        <ul class="am-pagination tpl-pagination">
                                            <li {if $Request.param.page == 1 || $Request.param.page == null} class="am-disabled" {/if}><a href="{:url('admin/user/userlist')}?page=1">«</a></li>
                                            {for start = "1" end = "$totalpage + 1" name = "i"}
                                            <li {if $Request.param.page == $i || ($i == 1 && $Request.param.page == null)} class="am-active" {/if}>
                                            <a href="{:url('admin/user/userlist')}?page={$i}">{$i}</a>
                                            </li>
                                            {/for}
                                            <li {if $Request.param.page == $totalpage - 1} class="am-disabled" {/if}>
                                                <a href="{:url('admin/user/userlist')}?page={$totalpage - 1}">»</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <hr>

                            </form>
                        </div>

                    </div>
                </div>
                <div class="tpl-alert"></div>
            </div>

        </div>
    </div>

{include file="footerjs"}
{include file="left-menujs"}
</body>
<script>
    $(function () {
        $('.del-btn').click(function () {
            var uid = $(this).attr('data-uid')
//        ajax删除
            var url = '{:url("admin/user/delUser")}';
            var data = {uid:uid}
            $.ajax({
                'url':url,
                'type':'post',
                'dataType':'json',
                'data':data,
                'success':function (res) {
                    console.log(res)
                }
            })
        })
    })
</script>
</html>