<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Login Page | Amaze UI Example</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  {include file='assets'}
  <style>
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
  </style>
</head>
<body>
<div class="header">
  <div class="am-g">
    <h1>物物交换</h1>
    <p>Exchange<br/>闲物 交换 价值</p>
  </div>
  <hr />
</div>
<div class="am-container">
    <div class="am-u-md-3">
        <ul class="am-list">
            <li><span class="am-text-secondary">我把最深沉的秘密放在那里。</span></li>
        </ul>
    </div>
    <div class="am-form am-form-horizontal am-u-md-6">
        <div class="am-alert am-alert-danger am-animation-slide-top" style="display: none" data-am-alert>
            <span class="am-fr am-text-sm">3秒后自动关闭</span>
            <p class="am-inline" id="err-result">没什么可给你，但求凭这阙歌。谢谢你风雨里，都不退愿陪着我。</p>
        </div>
        <div class="am-form-group">
            <label for="doc-ipt-3" class="am-u-sm-2 am-form-label">用户名</label>
            <div class="am-u-sm-10">
                <input type="text" name="loginname" id="doc-ipt-3" placeholder="输入你的登录账户">
            </div>
        </div>

        <div class="am-form-group">
            <label for="doc-ipt-pwd-2" class="am-u-sm-2 am-form-label">密码</label>
            <div class="am-u-sm-10">
                <input type="password" name="loginpwd" id="doc-ipt-pwd-2" placeholder="输入你的密码">
            </div>
        </div>

        <div class="am-form-group">
            <div class="am-u-sm-offset-2 am-u-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="remember" value="1"> 记住十万年
                    </label>
                </div>
            </div>
        </div>

        <div class="am-form-group">
            <div class="am-u-sm-10 am-u-sm-offset-2">
                <button id="submit" class="am-btn am-btn-success">提交登入</button>
                <a href="{:url('index/user/register')}" target="_blank" class="am-btn am-btn-radius am-btn-secondary am-margin-left-xl">还没账户？去注册</a>
            </div>
        </div>
    </div>
    <div class="am-u-md-3">
        <ul class="am-list">
            <li><span class="am-text-success">每个人都有一个死角， 自己走不出来，别人也闯不进去。</span></li>
        </ul>
    </div>
</div>
</body>
<script>
    $(function () {
//        表单ajax登录
        $('#submit').click(function () {
            var loginName = $('[name=loginname]').val()
            var loginPwd = $('[name=loginpwd]').val()
            var remember = $('[name=remember]').prop('checked') ? 1 : 0

            var url = "{:url('index/user/checkLogin')}"
            var data = {loginName:loginName, loginPwd:loginPwd, remember:remember}
            console.log(loginName+loginPwd+remember)

            $.ajax({
                url:url,
                type:'post',
                dataType:'json',
                data:data,
                success: function (res) {
                    if (res.errorCode != 0) {
                        $('#err-result').html(res.result)
                        $('.am-alert').prop('style', false)
                        $('.am-alert').delay(3000).toggle('slow')
                        return false;
                    }
                    window.location.href = '{:url("index/index/index")}';
                }
            })
        })
    })
</script>
</html>
